[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/hugo-atom-feed"]
	path = themes/hugo-atom-feed
	url = git@github.com:kaushalmodi/hugo-atom-feed.git
