<div class="article-widget">
    <p><b>¿Te gustó?</b></p>
    <p>
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script>
            kofiWidgetOverlay.draw('lnds', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': 'Apóyame',
                'floating-chat.donateButton.background-color': '#00b9fe',
                'floating-chat.donateButton.text-color': '#fff'
            });
        </script>
    </p>
    <hr>
</div>